<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionGestionPedidos.Properties.Settings.GestionPedidosConnectionString"
            connectionString="Data Source=JUYANDY\MSSQLFIRPO;Initial Catalog=GestionPedidos;Persist Security Info=True;User ID=sa;Password=sgo1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>